<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h3>Messages sent</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>To</th>
            <th>Text</th>
            <th>Listing</th>           
            <th>Sent</th>
            <th></th>
          </tr>
        </thead>
       <tbody>
  <% @list_of_messages.select { |message| message.sender == @current_user }.each do |sent_message| %>
  <tr>
    <td><%= sent_message.recipient.name %></td>
    <td><%= sent_message.body %></td>
    <td><%= sent_message.listing.title %></td>
    <td><%= time_ago_in_words(sent_message.created_at) %> ago</td>
    <td><a href="/listings/<%= sent_message.listing.id %>" class="btn btn-sm btn-primary">
          Reply
        </a></td>
  </tr>
  <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col">
      <h3>Messages received</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>From</th>
            <th>Text</th>
            <th>Listing</th>
            
            
            <th>Received</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @list_of_messages.select { |message| message.recipient == @current_user }.each do |received_message| %>
          <tr>
            <td><%= received_message.sender.name %></td>
            <td><%= received_message.body %></td>
            <td><%= received_message.listing.title %></td>
            <td><%= time_ago_in_words(received_message.created_at) %> ago</td>
            <td><a href="/listings/<%= received_message.listing.id %>" class="btn btn-sm btn-primary">
             Reply
            </a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
