<div>
  <div>
    <h1>
      Message #<%= @the_message.id %> details
    </h1>

    <div>
      <div>
        <a href="/messages">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_message/<%= @the_message.id %>">
          Delete message
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @the_message.body %>
      </dd>

      <dt>
        Listing
      </dt>
      <dd>
        <%= @the_message.listing.title %>
      </dd>

      <dt>
        Sender
      </dt>
      <dd>
        <%= @the_message.sender.name %>
      </dd>

      <dt>
        Recipient
      </dt>
      <dd>
        <%= @the_message.recipient.name %>
      </dd>

      <dt>
        Sent
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Reply to <%= @the_message.sender.name %>
    </h2>

<div class="card">
  <div class="card-header">
    <h5 class="card-title">Send a message to <%= @the_message.sender.name %></h5>
  </div>
  <div class="card-body">
    <%= form_with(model: @message, url: messages_path, class: "mb-3") do |form| %>
      <%= form.hidden_field :sender_id, value: @current_user.id %>
      <%= form.hidden_field :recipient_id, value: @the_message.sender.id %>
      <%= form.hidden_field :listing_id, value: @the_message.listing.id %>

      <div class="form-group">
        <%= form.label :body, "Message to #{@the_message.sender.name}" %>
        <%= form.text_area :body, class: "form-control", rows: 5, placeholder: "Type your message here" %>
      </div>

      <%= form.submit "Send Message", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

