<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h1>List of all listings</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <a class="btn btn-primary mb-3" href="/listings/new">Add a new listing</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category</th>
            <th>Seller</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @list_of_listings.each do |a_listing| %>
            <tr>
              <td><%= a_listing.title %></td>
              <td><%= number_to_currency(a_listing.price, unit: "$") %></td>
              <td><img src="<%= a_listing.image %>" class="img-thumbnail"></td>
              <td><%= Category.find(a_listing.category_id).name %></td>
              <td><%= a_listing.seller.name %></td>
              <td>
                <a href="/listings/<%= a_listing.id %>" class="btn btn-sm btn-primary">
                  Show details
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <hr>
</div>
