<div>
  <div>
    <h1>
      List of all listings
    </h1>
  </div>
</div>

<hr>
  <div>
    <h2>
      <a href="/listings/new">Add a new listing</a>
    </h2> 
  </div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Price
        </th>

        <th>
          Image
        </th>

       <%# <th>
          Status
        </th> %>

        <th>
          Category
        </th>

       <th>
          Seller
        </th>

     <%#   <th>
          Buyer
        </th> %>

        <th>
        
        </th>
      </tr>

      <% @list_of_listings.each do |a_listing| %>
      <tr>
        <td>
          <%= a_listing.id %>
        </td>

        <td>
          <%= a_listing.title %>
        </td>

          <td>
        <%= number_to_currency(a_listing.price, unit: "$") %>
          </td>
        

        <td>
          <%= a_listing.image %>
        </td>

      <%#  <td>
          <%= a_listing.status >
        </td> %>

        <td>
          <%= a_listing.name %>
        </td>

        <td>
          <%= a_listing.seller_id %>
        </td>

     <%#    <td>
          <%= a_listing.buyer_id %
        </td> %>

      <%#  <td>
          <%= time_ago_in_words(a_listing.created_at) % ago
        </td>
        <td>
          <%= time_ago_in_words(a_listing.updated_at) % ago
        </td> %>

        <td>
          <a href="/listings/<%= a_listing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
