<div class="container">
  <h5 class="text-center mt-5 mb-4">
    Edit User Account
  </h5>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/modify_user" method="post">
        <div class="form-group">
          <label for="email_box">Email</label>
          <input id="email_box" class="form-control" name="query_email" value="<%= @current_user.email %>">
        </div>
        <div class="form-group">
          <label for="name_box">Name</label>
          <input id="name_box" class="form-control" name="query_name" value="<%= @current_user.name %>">
        </div>
        <div class="form-group">
          <label for="location_box">Location</label>
          <input id="location_box" class="form-control" name="query_location" value="<%= @current_user.location %>">
        </div>

        <div class="form-group">
          <label for="password_box">Password</label>
          <input id="password_box" class="form-control" name="query_password" placeholder="Choose a password..." type="password">
        </div>
      
        <div class="form-group">
          <label for="password_confirmation_box">Password Confirmation</label>
          <input id="password_confirmation_box" class="form-control" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
        </div>

        <button class="btn btn-primary">
          Update account
        </button>
        <a href="/categories" class="btn btn-secondary ml-2">
          Go back!
        </a>
      </form>
    </div>

<div class="col-md-6">
  <h5 class="text-center mt-5 mb-4">
    Your Listings
  </h5>
  <% if @current_user.listings.any? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <% @current_user.listings.each do |listing| %>
          <tr>
             <td><img src="<%= listing.image %>" class="img-thumbnail"></td>
            <td><%= listing.title %></td>
           <td> <a href="/listings/<%= listing.id %>" class="btn btn-sm btn-primary">
                  Show details
                </a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>You haven't posted any listings yet.</p>
  <% end %>
</div>
